<div class="d-flex flex-column vh-100 flex-shrink-0 p-3 text-white bg-dark" id="sidebar"> <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"> <i class="fa fa-cog me-3"></i> <span class="fs-4">Solusi Spare Part</span> </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item"> <a href="#" class="nav-link active" aria-current="page"> <i class="fa fa-home"></i><span class="ms-2">Home</span> </a> </li>
    <li> <a href="#" class="nav-link text-white"> <i class="fa fa-table"></i><span class="ms-2">Orders</span> </a> </li>
    <li> <a href="#" class="nav-link text-white"> <i class="fa fa-th"></i><span class="ms-2">Products</span> </a> </li>
    <li> <a href="#" class="nav-link text-white"> <i class="fa fa-user-circle"></i><span class="ms-2">Customers</span> </a> </li>
  </ul>
  <hr>
  <div class="dropdown"> <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"> <i class="fa fa-user me-3"></i> <strong> Budi </strong> </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" href="#">Profile</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Sign out</a></li>
    </ul>
  </div>
</div>
